<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".chapter6.five.city_activity"
            android:exported="false" />
        <activity
            android:name=".chapter6.four.test_service"
            android:exported="false" />
        <activity android:name=".chapter6.three.NetworkMonitorActivity" /> <!-- Khai báo BroadcastReceiver -->
        <receiver
            android:name=".chapter6.three.BatteryLowReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_LOW" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".chapter6.two.DeepLinkActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="open"
                    android:scheme="myapp" />
            </intent-filter>
        </activity>

        <service android:name=".chapter6.four.MyService" />

        <activity
            android:name=".chapter6.one.mutil_thread"
            android:exported="false" />
        <activity
            android:name=".chapter6.chapter6"
            android:exported="false" />
        <activity
            android:name=".chapter5.four.c"
            android:exported="false" />
        <activity
            android:name=".chapter5.four.b"
            android:exported="false" />
        <activity
            android:name=".chapter5.four.a"
            android:exported="false" />
        <activity
            android:name=".chapter5.three.ContentProviderActivity"
            android:exported="false" />
        <activity
            android:name=".chapter5.three.SQLiteActivity"
            android:exported="false" />
        <activity
            android:name=".chapter5.three.SharedPreferencesActivity"
            android:exported="false" />
        <activity
            android:name=".chapter5.three.XmlParserActivity"
            android:exported="false" />
        <activity
            android:name=".chapter5.three.InternalStorageActivity"
            android:exported="false" />
        <activity
            android:name=".chapter5.two.Other"
            android:exported="false" />
        <activity
            android:name=".chapter5.two.Cache"
            android:exported="false" />
        <activity
            android:name=".chapter5.two.External"
            android:exported="false" />
        <activity
            android:name=".chapter5.two.Internal"
            android:exported="false" />
        <activity
            android:name=".chapter5.four.four_activiity"
            android:exported="false" />
        <activity
            android:name=".chapter5.three.three_activity"
            android:exported="false" />
        <activity
            android:name=".chapter5.two.two_activity"
            android:exported="false" />
        <activity
            android:name=".chapter5.one.one_activity"
            android:exported="false" />
        <activity android:name=".chapter5.Chapter5Activity" />
        <activity
            android:name=".home.homeActivity"
            android:exported="false" />
        <activity
            android:name=".login.SignInActivity"
            android:exported="false" />
        <activity
            android:name=".login.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".login.LoginAcitivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>